bokeh
dask[distributed]
dask-ml
flask
flask-sqlalchemy
gap-stat
joblib
jupyter-server-proxy
matplotlib
numpy
optuna
scikit-learn
shap
sqlalchemy
tensorboard
torch
torchmetrics
tqdm
ydata-profiling[notebook,unicode]